<script lang="ts">
    import '../app.css'
    import authStore from '$lib/stores/authentication'
    import axios from '$lib/axios'

    $: if ($authStore?.token) {
        axios.defaults.headers.common['Authorization'] = `Bearer: ${$authStore.token}`
    } else {
        delete axios.defaults.headers.common['Authorization']
    }
</script>

<slot />
