<script lang="ts">
    import EmployeeInfo from "$lib/components/EmployeeInfo.svelte"
    import axios from "$lib/axios"

    import authStore from '$lib/stores/authentication'
    import { goto } from "$app/navigation"

    async function startTap(e: MouseEvent) {
        e.preventDefault()
        const { data } = await axios.post("/api/tap", {
            date: new Date(),
            time: "AM",
            performedBy: $authStore?.user.id,
        })

        goto(`/gametap/${data.tap.id}/${data.startAt.id}`)
    }
</script>

<svelte:head>
    <title>Home</title>
</svelte:head>

<div class="flex justify-between items-center">
    <h1 class="text-3xl text-center pl-5 select-none cursor-default">
        ▶️ PlayFlow 🌊
    </h1>
    <div class="p-5">
        <EmployeeInfo employee={$authStore?.user || {id: 0, name: 'Foo', role: ''}} />
    </div>
</div>

<div class="bg-gray-300 m-10 p-5">
    <h1 class="text-2xl">Daily Card Tap</h1>
    <a
        class="bg-gray-500 p-10 text-white text-xl inline-block"
        href="_blank"
        on:click={startTap}>Enter Flow</a
    >
    <a class="bg-gray-500 p-10 text-white text-xl inline-block" href="/issues"
        >Review Pending Issues</a
    >
</div>
<!-- <div class="bg-gray-300 m-10 p-5">
    <h1 class="text-2xl">Management</h1>
    <a class="bg-gray-500 p-10 text-white text-xl inline-block" href="/manage/games">Manage Games</a>
    <a class="bg-gray-500 p-10 text-white text-xl inline-block" href="/manage/users">Manage Users</a>
</div> -->
